*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
h1,h2,h3,h4{
    letter-spacing: 2px;
    padding: 10px 0px ;
}

.container{
    width: 90vw;
    height: auto;
    text-align: center;
}
.container-fluide{
    width: 90%;
    height: auto;
    text-align: center;
}
.img{
    width: 100%;
    height: auto;
}
.circle{
    clip-path: circle();
    
}




