.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.row-reverse{
    flex-direction: row-reverse;
}
.center{
    justify-content: center;
}
.between{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
}
.evenly{
    justify-content: space-evenly;
}
.item-center{
    align-items: center;
}
.item-left{
    align-items:flex-start;
}
.item-right{
    align-items: flex-end;
}


